.admin-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.admin-page-container > div {
    flex: 1 1 30%;
    min-width: 280px;
    max-width: 700px;
    /* padding: 20px; */
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.admin-page-container h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7e7b6e;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    border-color: #7e7b6e;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .admin-page-container {
        flex-direction: column;
        gap: 20px;
    }

    .admin-page-container > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
