@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Zen+Dots&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.textContact{
    font-family: "Bebas Neue";
    margin: 0;
}

.upperMainTextContact{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
}

.upperMainTextContact h1{
    margin: 0;
}

.contactForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.formGroup {
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, 
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 200px;
    resize: none;
}

.submitButton {
    background-color: #4d6586;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    
}

.submitButton:hover {
    color: #c3b67b;
}

.buttonContainer{
    display: flex;
    justify-content: center;

}


.mainContact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.formContainer {
    flex: 1; 
    max-width: 50%; 
}

.mapContainer {
    flex: 1; 
    text-align: center; 
}

#karta {
    height: 500px;
    width: 600px;
    border-radius: 5px; 
}