@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Zen+Dots&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#headertext {
    font-family: "Zen Dots", sans-serif;
    margin: 0;
}

.cool {
    color: rgb(255, 255, 255);
}

.fashion {
    color:#000000;
    text-shadow: -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 white, 
    1px 1px 0 white;
    animation-name: fashionText;
    animation-duration: 4s;
}

.logoImage img{
  width: 150px;
  height: auto;
}

@keyframes fashionText {
    0%   {color:#858585; left:0px; top:0px;}
    30%   {color:#777777; left:0px; top:0px;}
    60%  {color:#606060; left:0px; top:0px;}
    100% {color:#2d2d2d; left:0px; top:0px;}
  }

  .topRightIcons {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 1rem;
    color: white;
    font-size: 1rem;
  }
  
  .topRightIcons svg {
    cursor: pointer;
  }
  
  .topRightIcons svg:hover {
    color: #c3b67b;
  }

  
  .nav {
    font-family: "Bebas Neue", sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 2rem;
    padding: 0 2rem;
    padding-top: 1rem;
  }

  
.nav li {
  position: relative;
}

.nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

  
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
}

.nav a:hover {
  color: #c3b67b;
}

.dropdown {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #181818;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown li {
  width: 200px;
}


.nav li:hover .dropdown {
  display: block;
}

.content {
  padding: 16px;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 5px;
  background-color: #000000;
  width: 200px; 
}

.search-container input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 12px;
  margin-bottom: 0;
  background-color: #000000;
  color: white;
}

.search-container svg {
  margin-right: 10px; 
  cursor: pointer;
}

.topRightIcons {
  display: flex;
  align-items: center;  
  gap: 1rem;
  color: white;
  font-size: 1rem;
}

.topRightIcons svg {
  cursor: pointer;
}

.topRightIcons svg:hover {
  color: #c3b67b;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 5px;
  background-color: #000000;
  width: 200px; 
}

.search-container input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 12px;
  margin-bottom: 0;
  background-color: #000000;
  color: white;
}

.search-container svg {
  margin-right: 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #181818;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  color: white;
}

.dropdown-item a {
  color: white;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #333;
}