.product-list-container {
    font-family: "Roboto Condensed";
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .product-list-container h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #333;
  }
  
  .product-list-container ul {
    list-style-type: none;
    padding: 20px;
    margin-right: 5px;
    max-height: max-content;
    /* overflow-y: auto; */
  }
  
  .product-list-container li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 95%; /* Ensure the list item takes up the full width */
  }
  
  .product-list-container li span {
    font-size: .9rem;
    color: #555;
  }
  
  .product-list-container button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* margin-left: auto; */
    font-family: "Roboto Condensed";
  }
  
  .product-list-container button:hover {
    background-color: #7e7b6e;
    transform: scale(1.05);
  }
  
  /* Styling for the scrollbar */
  .product-list-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .product-list-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  .product-list-container::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
  .product-list-container ul::-webkit-scrollbar {
    width: 8px;
  }
  
  .product-list-container ul::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  .product-list-container ul::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  /* Searchbar CSS */

  .searchSymbol {
    gap: 1rem;
    color: white;
    font-size: 1rem;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-item img {
    transition: transform 0.3s ease;
  }
  
  .image-item img:hover {
    transform: scale(1.1);
  }
  